---
---

@import "minima";

/* Custom styles for author link */
.post-meta .author-link a {
  color: #2a7ae2;
  text-decoration: none;
}

.post-meta .author-link a:hover {
  text-decoration: underline;
}