---
---

@import 
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// Custom styles
.post-authors {
  margin-top: 10px;
  font-size: 0.9em;
  
  .author-label {
    font-weight: bold;
  }
  
  .author {
    a {
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
